@charset "utf-8";
/* ---------------------------------------
	Footer
-----------------------------------------*/
@use "../config";
@use "../mixin";

.footer {
	background-color: #0b2c4a;
	color: #fff;
	position: relative;
	&__wrap{
		@include mixin.containerWrap();
		padding: 30px 0;
	}
	&__logo{
		text-align: center;
		margin: 0 0 3rem 0;
		img{
			margin: 0 0 1rem 0;
		}
		p{
			font-size: 20px;
			@include mixin.line-height();
			@include mixin.tab{
				@include mixin.font-vw(20,375);
			}
		}
	}
	address{
		font-style: normal;
		text-align: center;
		margin: 0 0 2rem 0;
		@include mixin.line-height();
			@include mixin.tab{
				@include mixin.font-vw(16,375);
			}
	}
	small{
		display: block;
		text-align: center;
		font-size: 14px;
		@include mixin.line-height();
			@include mixin.tab{
				@include mixin.font-vw(14,375);
			}
	}
	.pageTop{
		position: fixed;
		bottom: 10px;
		right: 20px;
		z-index: 10;
		animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
		img{
			@include mixin.tab{
				width: 40px;
			}
		}
	}
	@keyframes fuwafuwa {
		0% {
		  transform:translate(0, 0) rotate(-5deg);
		}
		50% {
		  transform:translate(0, -5px) rotate(0deg);
		}
		100% {
		  transform:translate(0, 0) rotate(5deg);
		}
	}
}
