@charset "utf-8";
/* ---------------------------------------
	Global Navigation
-----------------------------------------*/
@use "../config";
@use "../mixin";

.global-nav{
	&__list{
		@include mixin.flexCenter(y);
	}
	&__list-item{
		@include mixin.tab {
			width: 100%;
		}
		&:not(:last-of-type){
			margin: 0 3rem 0 0;
			@include mixin.tab {
				margin: 0 1rem 0 0;
			}
		}
	}
	&__list-link{
		color:config.$textColor;
		font-size: 1.8rem;
		@include mixin.tab {
			@include mixin.font-vw(18, 375);
		}
	}
}